USE [master]
GO
/****** Object:  Database [MalakShopDB]    Script Date: 3/6/2022 12:22:55 PM ******/
CREATE DATABASE [MalakShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MalakShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MalakShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MalakShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MalakShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MalakShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MalakShopDB]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 3/6/2022 12:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[C_ID] [int] NOT NULL,
	[CNAME] [varchar](50) NULL,
	[ADDRESS] [varchar](75) NULL,
	[PHONE_NUMBER] [bigint] NULL,
	[EMAIL] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MYORDER]    Script Date: 3/6/2022 12:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MYORDER](
	[ORD_ID] [int] NOT NULL,
	[PID] [int] NULL,
	[CID] [int] NULL,
	[DATE] [date] NULL,
	[AMOUNT] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 3/6/2022 12:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ORD_ID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC,
	[ORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 3/6/2022 12:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PID] [int] NOT NULL,
	[PNAME] [varchar](50) NULL,
	[AMOUNT] [decimal](12, 2) NULL,
	[VID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDOR]    Script Date: 3/6/2022 12:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR](
	[VID] [int] NOT NULL,
	[VNAME] [varchar](50) NULL,
	[ADDRESS] [varchar](75) NULL,
	[PHONE_NUMBER] [bigint] NULL,
	[EMAIL] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MYORDER]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([PID])
REFERENCES [dbo].[PRODUCT] ([PID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MYORDER] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[MYORDER]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([CID])
REFERENCES [dbo].[CUSTOMER] ([C_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MYORDER] CHECK CONSTRAINT [FK3]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [F6] FOREIGN KEY([ORD_ID])
REFERENCES [dbo].[MYORDER] ([ORD_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [F6]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [F7] FOREIGN KEY([PID])
REFERENCES [dbo].[PRODUCT] ([PID])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [F7]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([VID])
REFERENCES [dbo].[VENDOR] ([VID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK1]
GO
/****** Object:  StoredProcedure [dbo].[customer_in]    Script Date: 3/6/2022 12:22:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[customer_in] 
	@cid int,
	@cname varchar(50),
	@address varchar(75),
	@phone_number bigint,
	@email varchar(25)
AS
	INSERT INTO CUSTOMER VALUES(@cid,@cname,@address,@phone_number,@email);
GO
USE [master]
GO
